@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        180deg,
        rgb(34, 34, 34),
        rgb(31, 31, 31) 11.645%,
        rgb(23, 23, 23) 25.659%,
        rgb(22, 22, 22) 32.941%,
        rgb(21, 21, 21) 35.976%,
        rgb(19, 19, 19) 44.89%,
        rgb(18, 18, 18) 55.216%,
        rgb(18, 18, 18) 75.337%,
        rgb(18, 18, 18) 85.454%,
        rgba(18, 18, 18, 0) 100%
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.music_item:hover .fa_play {
    transition: 0.5s;
    opacity: 1;
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Հեռացնում է scrollbar-ը */
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE և Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden-home::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden-home {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
